<ion-header>
    <ion-toolbar>
        <ion-title>
            Barcode
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="scanResult">
        <label type="success">
            {{ scanResult }}
        </label>
    </div>
    <ion-button color="success" (click)="startScanner()">
        Scan
    </ion-button>

    <div class="input-group">
        <div id="inputBarcode" style="position: static">
            <video #cameraFeed width="500" height="300"></video>
        </div>
    </div>
</ion-content>